.box1 {
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
}

.box1 span{
    display: inline-block;
    height: 150px;
    width: 150px;
    background-color: pink;
    border: 5px solid red;
}

.box2 {
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}


.box2 span{
    display: inline-block;
    height: 150px;
    width: 150px;
    background-color: red;
    border: 5px solid darkred;
    padding: 30px;
    box-sizing: border-box;
}
